body {
    width: 1280px;
    margin: 60;
    padding: 10px;
    font-family: "Times New Roman";
    font-size: 18px;
    background-color:AACCBB;
}

p {
    background-color:CCDDBB;
    font-size: 
}

i {
    background-color: beige;
}

b {
    background-color: cornsilk;
}

h1 {
    font-size: 26px;
    font-family:"Century Gothic";
}
